/*
	Installed from https://reactbits.dev/default/
*/

.shiny-text {
  color: var(--shiny-text-color, #b5b5b5a4); /* Fallback to original color */
  background: linear-gradient(
    120deg,
    var(--shiny-gradient-start, rgba(255, 255, 255, 0)) 40%,
    var(--shiny-gradient-middle, rgba(255, 255, 255, 0.8)) 50%,
    var(--shiny-gradient-end, rgba(255, 255, 255, 0)) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
